.upper-wrappper {
    position: relative;
    height: 95vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 60%);
}

.upper-wrappper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(Images/LandingBackground.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    /* background-attachment: scroll; This is anyways default : scroll*/
    z-index: -1;
    opacity: 0.5;
}

.emailinput {
    color: white;
    background-color: rgba(22, 22, 22, 0.7);
}

.herotitle {
    width: 40vw;
}

.herotitle h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

.herotitle p {
    font-size: 22px;
    font-weight: 200 !important;
}

#getStartedBtn {
    font-size: 1.2rem;
}

#getStartedBtn:active,
#signinbtn:active {
    background-color: rgb(192, 9, 19);
    color: white;
}

.card-body p {
    font-weight: 500 !important;
    font-size: 1.5rem;
}

.homeform .row {
    height: 4rem;
}


/* Trending Sort Section */
.trend-content img {
    width: 180px;
    height: 252px;
    border-radius: 1rem;

}


.trend-content .col {
    position: relative;
    padding: 0.6rem 1.3rem;
    z-index: 1;
    transition: transform 0.4s;
}


.trend-content .col:hover {
    transform: scale(1.06);
}

.trend-content .numbering {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    font-size: 100px;
    font-weight: bold;
}

/* .container::-webkit-scrollbar {
    display: none;
} */

.trend-content {
    overflow-x: auto;
    overflow-y: hidden;
}